@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.share-a-gift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.gift-item{
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px rgba(48,29,30,0.10);
    height: 247px;
    width: 200px;
}

.gift-container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 247px);
    grid-gap: 40px;
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 40px; */
}

@media (max-width: 720px){
    .gift-container{
        grid-template-columns: repeat(2, 144px);
        grid-gap: 90px;
    }
}

@media (max-width: 425px){
    .gift-container{
        grid-template-columns: repeat(1, 144px);
        grid-gap: 40px;
    }
}